.wbdv-course-dashboard {
  height: 100%;
}

.wbdv-course-lessons .nav-link {
  background-color: #8f8c8c !important;
  color: whitesmoke;
  display: block;
}

.wbdv-course-lessons .nav-link.active {
  background-color: cornflowerblue !important;
}

.wbdv-course-topics .nav-link {
  background-color: #8f8c8c !important;
  border: 1px solid gainsboro;

  color: whitesmoke;
}

.wbdv-course-topics .nav-link.active {
  background-color: cornflowerblue !important;
}

.wbdv-course-module {
  background: #403e3e;
  height: 100vh;
}

.wbdv-course-module a {
  background-color: lightgrey;
  border: 1px solid gainsboro;
  background-color: #8f8c8c;
}

.list-group-item.active {
  background-color: cornflowerblue !important;
  border: 1px solid gainsboro !important;
}
